# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.mvn/wrapper/maven-wrapper.properties
/HELP.md
/.settings/org.eclipse.m2e.core.prefs
/.project
/target/classes/META-INF/MANIFEST.MF
/.classpath
/.factorypath
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.springframework.ide.eclipse.prefs
/target/classes/META-INF/maven/com.science.earth.biogeochemistry.freshwaters/PANDORA/pom.properties
/target/classes/META-INF/maven/com.science.earth.biogeochemistry.freshwaters/PANDORA/pom.xml
/target/classes/application.properties
/target/classes/banner.txt
/.settings/org.eclipse.jdt.ui.prefs
/target/PANDORA-0.0.1-SNAPSHOT.jar.original
/target/jacoco.exec
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.PANDORA.services/AbstractBaseEntityServiceImpl.html
/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.PANDORA.services/AbstractBaseEntityServiceImpl.java.html
/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.PANDORA.services/AbstractCrudServiceImpl.html
/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.PANDORA.services/AbstractCrudServiceImpl.java.html
/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.PANDORA.services/index.html
/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.PANDORA.services/index.source.html
/target/site/jacoco/index.html
/target/site/jacoco/jacoco-resources/branchfc.gif
/target/site/jacoco/jacoco-resources/branchnc.gif
/target/site/jacoco/jacoco-resources/branchpc.gif
/target/site/jacoco/jacoco-resources/bundle.gif
/target/site/jacoco/jacoco-resources/class.gif
/target/site/jacoco/jacoco-resources/down.gif
/target/site/jacoco/jacoco-resources/greenbar.gif
/target/site/jacoco/jacoco-resources/group.gif
/target/site/jacoco/jacoco-resources/method.gif
/target/site/jacoco/jacoco-resources/package.gif
/target/site/jacoco/jacoco-resources/prettify.css
/target/site/jacoco/jacoco-resources/prettify.js
/target/site/jacoco/jacoco-resources/redbar.gif
/target/site/jacoco/jacoco-resources/report.css
/target/site/jacoco/jacoco-resources/report.gif
/target/site/jacoco/jacoco-resources/session.gif
/target/site/jacoco/jacoco-resources/sort.gif
/target/site/jacoco/jacoco-resources/sort.js
/target/site/jacoco/jacoco-resources/source.gif
/target/site/jacoco/jacoco-resources/up.gif
/target/site/jacoco/jacoco-sessions.html
/target/site/jacoco/jacoco.csv
/target/site/jacoco/jacoco.xml
/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.PANDORA.PandoraApplicationTests.xml
/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.PANDORA.services.AbstractBaseEntityServiceImplTest.xml
/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.PANDORA.services.AbstractCrudServiceImplTest.xml
/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.PANDORA.PandoraApplicationTests.txt
/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.PANDORA.services.AbstractBaseEntityServiceImplTest.txt
/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.PANDORA.services.AbstractCrudServiceImplTest.txt
/target/classes/messages.properties
/pandora-web/.classpath
/pandora-web/.factorypath
/pandora-web/.project
/pandora-web/.settings/org.eclipse.core.resources.prefs
/pandora-web/.settings/org.eclipse.jdt.apt.core.prefs
/pandora-web/.settings/org.eclipse.jdt.core.prefs
/pandora-web/.settings/org.eclipse.m2e.core.prefs
/pandora-web/.settings/org.springframework.ide.eclipse.prefs
/pandora-data/.classpath
/pandora-data/.factorypath
/pandora-data/.project
/pandora-data/.settings/org.eclipse.core.resources.prefs
/pandora-data/.settings/org.eclipse.jdt.apt.core.prefs
/pandora-data/.settings/org.eclipse.jdt.core.prefs
/pandora-data/.settings/org.eclipse.m2e.core.prefs
/pandora-data/.settings/org.springframework.ide.eclipse.prefs
/pandora-data/target/classes/META-INF/maven/com.science.earth.biogeochemistry.freshwaters/pandora-data/pom.xml
/pandora-data/target/classes/META-INF/maven/com.science.earth.biogeochemistry.freshwaters/pandora-data/pom.properties
/pandora-data/target/classes/META-INF/MANIFEST.MF
/pandora-data/target/classes/messages.properties
/pandora-data/bin/.project
/pandora-data/bin/pom.xml
/pandora-data/bin/src/main/resources/messages.properties
/pandora-data/bin/target/classes/messages.properties
/pandora-data/bin/target/jacoco.exec
/pandora-data/bin/target/maven-archiver/pom.properties
/pandora-data/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/pandora-data/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/pandora-data/bin/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/pandora-data/bin/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/CrudError.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/CrudError.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ErrorMessageGeneratorImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ErrorMessageGeneratorImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ServiceImplError.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ServiceImplError.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/index.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/index.source.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/AbstractBaseEntity$AbstractBaseEntityBuilder.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/AbstractBaseEntity.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/AbstractBaseEntity.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Reaction$ReactionBuilder.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Reaction.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Reaction.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Scheme$SchemeBuilder.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Scheme.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Scheme.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Source.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Source.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/SourceFraction.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/SourceFraction.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Specie$SpecieBuilder.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Specie.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/Specie.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/index.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.model/index.source.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractBaseEntityCrudServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractBaseEntityCrudServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractCrudServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractCrudServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/ReactionCrudServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/ReactionCrudServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SchemeCrudServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SchemeCrudServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SourceCrudServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SourceCrudServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SpecieCrudServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SpecieCrudServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/index.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/index.source.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/AbstractBaseEntityServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/AbstractBaseEntityServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/ReactionServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/ReactionServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SchemeServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SchemeServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SourceServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SourceServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SpecieServiceImpl.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SpecieServiceImpl.java.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/index.html
/pandora-data/bin/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/index.source.html
/pandora-data/bin/target/site/jacoco/index.html
/pandora-data/bin/target/site/jacoco/jacoco-resources/branchfc.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/branchnc.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/branchpc.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/bundle.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/class.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/down.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/greenbar.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/group.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/method.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/package.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/prettify.css
/pandora-data/bin/target/site/jacoco/jacoco-resources/prettify.js
/pandora-data/bin/target/site/jacoco/jacoco-resources/redbar.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/report.css
/pandora-data/bin/target/site/jacoco/jacoco-resources/report.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/session.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/sort.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/sort.js
/pandora-data/bin/target/site/jacoco/jacoco-resources/source.gif
/pandora-data/bin/target/site/jacoco/jacoco-resources/up.gif
/pandora-data/bin/target/site/jacoco/jacoco-sessions.html
/pandora-data/bin/target/site/jacoco/jacoco.csv
/pandora-data/bin/target/site/jacoco/jacoco.xml
/pandora-data/bin/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.errors.CrudErrorTest.xml
/pandora-data/bin/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.errors.ErrorMessageGeneratorImplTest.xml
/pandora-data/bin/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractBaseEntityServiceImplTest.xml
/pandora-data/bin/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractCrudServiceImplTest.xml
/pandora-data/bin/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SchemeServiceImplTest.xml
/pandora-data/bin/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.errors.CrudErrorTest.txt
/pandora-data/bin/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.errors.ErrorMessageGeneratorImplTest.txt
/pandora-data/bin/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractBaseEntityServiceImplTest.txt
/pandora-data/bin/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractCrudServiceImplTest.txt
/pandora-data/bin/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SchemeServiceImplTest.txt
/pandora-data/target/jacoco.exec
/pandora-data/target/maven-archiver/pom.properties
/pandora-data/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/pandora-data/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/pandora-data/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/pandora-data/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/CrudError.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/CrudError.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ErrorMessageGeneratorImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ErrorMessageGeneratorImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ServiceImplError.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/ServiceImplError.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/index.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.errors/index.source.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractBaseEntityCrudServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractBaseEntityCrudServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractCrudServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/AbstractCrudServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/ReactionCrudServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/ReactionCrudServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SchemeCrudServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SchemeCrudServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SourceCrudServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SourceCrudServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SpecieCrudServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/SpecieCrudServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/index.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations/index.source.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/AbstractBaseEntityServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/AbstractBaseEntityServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/ReactionServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/ReactionServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SchemeServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SchemeServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SourceServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SourceServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SpecieServiceImpl.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/SpecieServiceImpl.java.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/index.html
/pandora-data/target/site/jacoco/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations/index.source.html
/pandora-data/target/site/jacoco/index.html
/pandora-data/target/site/jacoco/jacoco-resources/branchfc.gif
/pandora-data/target/site/jacoco/jacoco-resources/branchnc.gif
/pandora-data/target/site/jacoco/jacoco-resources/branchpc.gif
/pandora-data/target/site/jacoco/jacoco-resources/bundle.gif
/pandora-data/target/site/jacoco/jacoco-resources/class.gif
/pandora-data/target/site/jacoco/jacoco-resources/down.gif
/pandora-data/target/site/jacoco/jacoco-resources/greenbar.gif
/pandora-data/target/site/jacoco/jacoco-resources/group.gif
/pandora-data/target/site/jacoco/jacoco-resources/method.gif
/pandora-data/target/site/jacoco/jacoco-resources/package.gif
/pandora-data/target/site/jacoco/jacoco-resources/prettify.css
/pandora-data/target/site/jacoco/jacoco-resources/prettify.js
/pandora-data/target/site/jacoco/jacoco-resources/redbar.gif
/pandora-data/target/site/jacoco/jacoco-resources/report.css
/pandora-data/target/site/jacoco/jacoco-resources/report.gif
/pandora-data/target/site/jacoco/jacoco-resources/session.gif
/pandora-data/target/site/jacoco/jacoco-resources/sort.gif
/pandora-data/target/site/jacoco/jacoco-resources/sort.js
/pandora-data/target/site/jacoco/jacoco-resources/source.gif
/pandora-data/target/site/jacoco/jacoco-resources/up.gif
/pandora-data/target/site/jacoco/jacoco-sessions.html
/pandora-data/target/site/jacoco/jacoco.csv
/pandora-data/target/site/jacoco/jacoco.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.errors.CrudErrorTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.errors.ErrorMessageGeneratorImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractBaseEntityServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractCrudServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.ReactionCrudServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.SchemeCrudServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.SourceCrudServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.SpecieCrudServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.ReactionServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SchemeServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SourceServiceImplTest.xml
/pandora-data/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SpecieServiceImplTest.xml
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.errors.CrudErrorTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.errors.ErrorMessageGeneratorImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractBaseEntityServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.AbstractCrudServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.ReactionCrudServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.SchemeCrudServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.SourceCrudServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.crudservices.implementations.SpecieCrudServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.ReactionServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SchemeServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SourceServiceImplTest.txt
/pandora-data/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.services.entityservices.implementations.SpecieServiceImplTest.txt
/pandora-web/bin/.project
/pandora-web/bin/pom.xml
/pandora-web/bin/src/main/resources/banner.txt
/pandora-web/bin/target/classes/banner.txt
/pandora-web/bin/target/jacoco.exec
/pandora-web/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/pandora-web/bin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/pandora-web/bin/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/pandora-web/bin/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/pandora-web/target/classes/banner.txt
/pandora-web/target/jacoco.exec
/pandora-web/target/maven-archiver/pom.properties
/pandora-web/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/pandora-web/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/pandora-web/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/pandora-web/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/pandora-web/target/pandora-web-0.0.1-SNAPSHOT.jar.original
/pandora-web/target/site/jacoco/index.html
/pandora-web/target/site/jacoco/jacoco-resources/branchfc.gif
/pandora-web/target/site/jacoco/jacoco-resources/branchnc.gif
/pandora-web/target/site/jacoco/jacoco-resources/branchpc.gif
/pandora-web/target/site/jacoco/jacoco-resources/bundle.gif
/pandora-web/target/site/jacoco/jacoco-resources/class.gif
/pandora-web/target/site/jacoco/jacoco-resources/down.gif
/pandora-web/target/site/jacoco/jacoco-resources/greenbar.gif
/pandora-web/target/site/jacoco/jacoco-resources/group.gif
/pandora-web/target/site/jacoco/jacoco-resources/method.gif
/pandora-web/target/site/jacoco/jacoco-resources/package.gif
/pandora-web/target/site/jacoco/jacoco-resources/prettify.css
/pandora-web/target/site/jacoco/jacoco-resources/prettify.js
/pandora-web/target/site/jacoco/jacoco-resources/redbar.gif
/pandora-web/target/site/jacoco/jacoco-resources/report.css
/pandora-web/target/site/jacoco/jacoco-resources/report.gif
/pandora-web/target/site/jacoco/jacoco-resources/session.gif
/pandora-web/target/site/jacoco/jacoco-resources/sort.gif
/pandora-web/target/site/jacoco/jacoco-resources/sort.js
/pandora-web/target/site/jacoco/jacoco-resources/source.gif
/pandora-web/target/site/jacoco/jacoco-resources/up.gif
/pandora-web/target/site/jacoco/jacoco-sessions.html
/pandora-web/target/site/jacoco/jacoco.csv
/pandora-web/target/site/jacoco/jacoco.xml
/pandora-web/target/surefire-reports/TEST-com.science.earth.biogeochemistry.freshwaters.pandora.PandoraApplicationTests.xml
/pandora-web/target/surefire-reports/com.science.earth.biogeochemistry.freshwaters.pandora.PandoraApplicationTests.txt
/pandora-web/target/classes/META-INF/MANIFEST.MF
/pandora-web/target/classes/META-INF/maven/com.science.earth.biogeochemistry.freshwaters/pandora-web/pom.properties
/pandora-web/target/classes/META-INF/maven/com.science.earth.biogeochemistry.freshwaters/pandora-web/pom.xml
/pandora-web/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/pandora-web/target/maven-javadoc-plugin-stale-data.txt
/pandora-data/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/pandora-data/target/maven-javadoc-plugin-stale-data.txt
/pandora-web/target/surefire-reports/2023-05-21T16-38-57_211-jvmRun1.dump
/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/pandora-web/target/surefire-reports/2023-05-22T20-26-44_913-jvmRun1.dump
mvnw
mvnw.cmd
