<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
  	<servers>
  	  	<server>
  			<id>github-plugin-parent-pom</id>
  			<username>WJ-van-Hoek</username>
  			<password>${_ALL}</password>
		</server>
  		<server>
  			<id>github-parent-pom</id>
  			<username>WJ-van-Hoek</username>
  			<password>${_ALL}</password>
		</server>
  		<server>
  			<id>github-spring-parent-pom</id>
  			<username>WJ-van-Hoek</username>
  			<password>${_ALL}</password>
		</server>	  
  		<server>
  			<id>github-utils</id>
  			<username>WJ-van-Hoek</username>
  			<password>${_ALL}</password>
		</server>
  	</servers>
</settings>
