<script
	type="module"
	th:src="@{/js/fragments/selectFilePanelManager.js}">
</script>
<div 
	class="panel" 
	id="statusSelectFilePanel">
    <div class="row">
        <h2 th:text=${headerConfig}></h2>
        <form class="column-container" id="fileForm">
            <div class="column" style="flex: 1;">
                <label class="button" for="fileInput">Select File</label>
                <input type="file" id="fileInput" th:attr="accept=${acceptConfig}">
            </div>
            <div class="column" style="flex: 5;">
                <div id="fileContents"></div>
            </div>
        </form>
    </div>
</div>
